html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header,
.footer {
  background: #15181f url(../images/bg-texture.jpg) repeat;
  color: #fff;
}