html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header,
.footer {
  background: #15181f url(../images/bg-texture.jpg) repeat;
  color: #fff;
}

.middle {
  background: #fff;
}

.hero {
  background: #333 url(../images/bg-hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 465px;
}

.logo {
  float: left;
  margin: 19px 17px 0 0;
}

.slogan {
  float: left;
  margin-top: 22px;
  font: italic 16px "Times new Roman", Times, Georgia, serif;
  color: rgba(255, 255, 255, .35);
}

.nav {
  float: right;
}

.nav li {
  float: left;
  border-left: 1px solid #2c323d;
}

.nav a {
  display: block;
  line-height: 62px;
}

.container:after { /* clearfix so header and background can be seen */
  content: "";
  display: table;
  clear: both;
}